<!-- <h1><strong>Questions ask</strong> </h1>
<p>Find me in app/views/questions/ask.html.erb</p> -->
<form action="/answer" method="#">
  <input type="text" name="ask_coaching" placeholder="What kind ask?">
  <input type="submit" value="ask">
</form>


